---
import SectionHeader from '../components/SectionHeader.astro'
import SectionLayout from '../components/SectionLayout.astro'
import Layout from '../layouts/Layout.astro'
import BugIcon from '../components/icons/BugIcon.astro'
import ServiceDetail from '../components/ServiceDetail.astro'
import ShieldCheckIcon from '../components/icons/ShieldCheckIcon.astro'
import ChatBubbleIcon from '../components/icons/ChatBubbleIcon.astro'

const title = 'บริการของเรา'
const description =
  'เรามีบริการทุกอย่างที่คุณต้องการสำหรับการจัดการปัญหาปลวก ตั้งแต่บริการกำจัดปลวกครวงจร บริการตรวจเช็คปลวก บริการป้องกันปลวก และบริการอื่นเกี่ยวกับปลวกมากมายที่ไม่ได้กล่าวถึง ทั้งหมดนี้เพื่อให้คุณมั่นใจว่าเราสามารถกำจัดปัญหาปลวกจนหมดไปจากที่อยู่ของคุณ'

const service1 = {
  title: 'กำจัดปลวก',
  description:
    'เราสามารถกำจัดปัญหาปลวกให้หมดไปได้อย่างรวดเร็วที่สุด นอกจากการกำจัดปลวก เรายังให้ความสำคัญกับความปลอดภัย และประสิทธิภาพของการกำจัดปลวก ทีมผู้เชี่ยวชาญของเราที่มีประสบการณ์มากกว่า 10 ปี พร้อมที่จะช่วยเหลือคุณในการจัดการปัญหาปลวกตั้งแต่ปัญหาทั่วไปจนถึงปัญหาเรื้อรัง',
  imgSrc: 'https://placehold.co/300x300',
}

const service2 = {
  title: 'ป้องกันปลวก',
  description:
    'บริการป้องกันปลวกของเราคือเกราะป้องกันที่อยู่อาศัยของคุณจากปลวกอันไม่พึงประสงค์ เราให้บริการสำรวจปลวกอย่างละเอีบดเพื่อหาจุดที่อาจก่อให้เกิดปัญหาปลวก และทำการป้องกันปลวกในบริเวณนั้นอย่างมีประสิทธิภาพ ด้วยความมุ่งมั่น และประสบการณ์อย่างยาวนานของทีมดูปลวก คุณสามารถมั่นใจได้ว่าเราจะสามารถป้องกันที่อยู่อาศัยของคุณจากปลวก',
  imgSrc: 'https://placehold.co/300x300',
}

const service3 = {
  title: 'ให้คำปรึกษาเรื่องปลวก',
  description:
    'เรามีผู้เชี่ยวชาญเรื่องปลวกที่พร้อมให้คำปรึกษา และออกแบบโซลูชั่นเฉพาะในการจัดการปัญหาปลวกสำหรับคุณ เราพร้อมให้ข้อมูลเชิงลึกในการปกป้องที่อยู่อาศัยของคุณจากปลวก เพื่อให้มั่นใจคุณสามารถตัดสินใจเลือกวิธีที่ดีที่สุดในการปกป้องที่อยู่อาศัยของคุณ',
  imgSrc: 'https://placehold.co/300x300',
}
---

<Layout title='บริการของเรา'>
  <main>
    <SectionLayout>
      <SectionHeader className='text-center mx-auto'>
        <Fragment slot='title'>{title}</Fragment>
        <Fragment slot='description'>{description}</Fragment>
      </SectionHeader>

      <div class='mt-16 space-y-8'>
        <ServiceDetail
          title={service1.title}
          description={service1.description}
          imgSrc={service1.imgSrc}
        >
          <BugIcon className='w-8 h-8' />
        </ServiceDetail>

        <ServiceDetail
          title={service2.title}
          description={service2.description}
          imgSrc={service2.imgSrc}
        >
          <ShieldCheckIcon className='w-8 h-8' />
        </ServiceDetail>

        <ServiceDetail
          title={service3.title}
          description={service3.description}
          imgSrc={service3.imgSrc}
        >
          <ChatBubbleIcon className='w-8 h-8' />
        </ServiceDetail>
      </div>
    </SectionLayout>
  </main>
</Layout>
